@import './variables.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Montserrat:wght@400;500;700&display=swap');

.App {
    font-family: 'Crimson Text', serif;
    font-family: 'Montserrat', sans-serif;
}


.top-row {
    // display: flex;
    // align-items: center;
    margin: 15px auto;
    background-color: $green;
    font-size: 40px;
    color: #fff;
    border-radius:10px;
    padding: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;    
}
.content {
    position: relative;
    background-color: $light-gray;
    padding: 20px;
    font-size: 15px;
    color: #fff;
    min-height: 80vh;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    .info {
        margin: 0 8px;
        background-color: $gray;
        line-height: 2em;
        padding: 0.4em 0;
        border-radius: 10px;

    }
    .create-button {
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        background-color: $green;
        color: #fff;
        font-size: 15px;
       
    }
}

.card {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #000; 
}

.list-group {
    margin: 10px 8px;
    border-radius: 10px;
    .list-group-item {
        display: flex;
        margin: 0;
        padding: 8px 0;

    }

}
